@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    color: #16191E;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font: 700 56px/62px Poppins;
    letter-spacing: -2px;
    padding: 20px 0;
}
h2 {
    font: 500 24px/46px Poppins;
}
p {
    font: 400 16px Poppins;
    color: #757575;
}
li {
    padding: 0 19px;
}
a {
    font: 500 14px Poppins;
    color: #757575;
}
a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    background: rgb(91, 220, 108);
    transition: width 400ms ease 0s, left 0.3s ease 0s;
    width: 0;
}
a:hover:after { 
    width: 100%;
    left: 0;
}
a:hover {
    color: #16191E;
}
button {
    font: 500 14px Poppins;
    color: #f9f9f9;
    width: 132px;
    height: 52px;
    border-radius: 30px;
    background: #1d1d25;
    border: 2px solid #1d1d25;
    box-shadow: 0px 8px 30px rgba(29,29,37,0.18);
    cursor: pointer;
    margin-left: 21px;
    background: linear-gradient(to top, #ececec 50%, #1d1d25 50%);
    background-size: 100% 200%;
    background-position: left top;
    transition: all 300ms ease-in-out;
}
button:hover{
    color: rgb(0, 0, 0);
    background-position:left bottom;
    transition: all 300ms ease-in-out;
    box-shadow: none;
}
.alias {
    color: #CBCBCB;
    font-weight: 600 !important;
}
.name {
    font: 600 16px Poppins;
    color: #757575;
}
.dot {
    color: rgb(91, 220, 108);
}
.preLoader img, .navBar img {
    width: 190px;
    height: 63.33px;
}
nav, section, footer, .preLoader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    animation: Loading 5s step-end;
}
@keyframes Loading {
    0% {
        display: none;
    }
    100% {
        display: flex;
    }
}
nav {
    position: fixed;
    padding-top: 38px;
    background-blend-mode: normal;
    backdrop-filter: blur(5px);
    z-index: 99;
}
.nav {
    height: 64px;
}
section {
    flex-direction: column;
}
.home {
    padding-top: 100px;
}
.nav{
    max-width: 1088px;
    width: 100%;
    margin: 0 96px;
}
.homepage, .intro, .artwork, .footer{
    max-width: 1278px;
    width: 100%;
    padding: 0 96px;
}
.gallery {
    background: #1D1D25;
    background: linear-gradient(to top, #1D1D25 32%, #ECECEC 32%);
}
footer {
    background-color: #1D1D25;
}
.nav, .right-col, ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hamburger {
    display: none;
}
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 60px;
    margin-top: 10px;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000000;
    stroke-width: 4px;
    stroke-linecap: round;
}
.ham8 .top {
    stroke-dasharray: 40 160;
}
.ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}
.ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
    stroke-dashoffset: -64px;
}
.ham8.active .middle {
    //stroke-dashoffset: -20px;
    transform: rotate(90deg);
}
.ham8.active .bottom {
    stroke-dashoffset: -64px;
}
.cover {
    width: 100%;
    height: 427px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin: 50px 0;
}
.cover img {
    height: 100%;
    object-fit: cover;
    
}
.galleryImg {
    width: 295.2px;
    height: 418px;
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-flow: nowrap;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 0px 3px 30px rgba(29,29,37,0.08);
    transition:all .3s ease-in-out;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
}
.galleryImg .image, iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galleryImg:hover img {
    transform:scale(1.05);
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
}
.intro {
    padding: 100px 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.intro p {
    width: 429px;
}
.line {
    width: 1px;
    margin: 0 20px;
    background-color: #757575;
}
.artwork {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 50px 0;
}
.galleryImg img, iframe {
    width: 295.2px;
    height: 418px;
    border-radius: 16px;
    box-shadow: 0px 3px 30px rgba(29,29,37,0.08);
    transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -ms-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}
.galleryImg:nth-child(2) {
    margin-top: 100px;
}
.galleryImg:hover img {
    transform:scale(1.05);
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeOut {
    100% { opacity: 1; }
    0% { opacity: 0; }
}
.preLoader {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    animation: Loading 5s step-end;
}
@keyframes Loading {
    0% {
        display: none;
    }
    100% {
        display: flex;
    }
}
.home {
    margin-top: 100px;
}
.preLoader {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: #ececec;
    animation: preload 5s step-end;
}
@keyframes preload {
    0% {
        display: flex;
        opacity: 1;
    }
    100% {
        display: none;
        opacity: 0;
    }
}
.progress {
    width: 150px;
    max-width: 85vw;
    height: 5px;
    border-radius: 8px;
    background: #cbcbcb;
    overflow: hidden;
}
.progress:after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: rgb(91, 220, 108);
    animation: load 5s ease-in;
}
@keyframes load {
    0% {
        width: 0;
    }
    10% {
        width: 5%;
    }
    20% {
        width: 15%;
    }
    30% {
        width: 25%;
    }
    40% {
        width: 50%;
    }
    70% {
        width: 72%;
    }
    80% {
        width: 84%;
    }
    100% {
        width: 100%;
    }
}
footer {
    height: 96px;
    
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
i {
    padding: 12px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .intro {
        flex-direction: column;
    }
    .line {
        width: 100%;
        height: 1px;
        margin: 20px 0;
    }
    .gallery {
        background: #1D1D25;
        background: linear-gradient(to top, #1D1D25 40%, #ECECEC 40%);
    }
    .artwork {
        flex-direction: column;
        align-items: center;
    }
    .galleryImg:nth-child(2) {
        margin-top: 20px;
    }
    .galleryImg {
        width: 100%;
        height: auto;
    }
    iframe {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}
@media screen and (max-width: 700px) {
    h1 {
        font: 700 32px/35px Poppins;
    }
    nav {
        flex-direction: column;
        padding: 24px;
        height: 100px;
    }
    .nav {
        display: block;
    }
    .hamburger {
        display: block;
    }
    .right-col {
        display: none;
        width: 100%;
        height: 100vh !important;
        padding: 24px;
        padding-bottom: 130px;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        background-color: #ececec;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    li {
        padding: 10px 0;
    }
    a{
        font-size: 24px;
    }
    .navBar {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .hamburger{
        display: block;
    }
    button {
        width: 100%;
        margin: 0;
    }
    .homepage, .intro, .artwork, .footer {
        padding: 0 27px;
    }
    .intro {
        flex-direction: column;
        margin: 80px 0;
    }
    .line {
        width: 100%;
        height: 1px;
        margin: 20px 0;
    }
    .intro p{
        width: 100%;
    }
    .gallery {
        background: #1D1D25;
        background: linear-gradient(to top, #1D1D25 40%, #ECECEC 40%);
    }
    .artwork {
        flex-direction: column;
        align-items: center;
    }
    .galleryImg:nth-child(2) {
        margin-top: 20px;
    }
    .footer {
        flex-direction: column;
    }
}